
* {
    box-sizing: border-box;
    
}

body {
    
}

#map {
    height: 400px;
    width: 100%;
}


#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-width {
    width: 30%;
    
}

.product-div {
    margin-bottom: 20px;
    
}

